pseudo_xrr/_version.py export-subst
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true
# Ignore all Jupyter notebooks in language statistics
*.ipynb -linguist-detectable
# (or) *.ipynb linguist-vendored